/* body{
    background-color:lightblue;
    width: 60%;
    height: 75%;
    
} */
.container{
  margin-left: 300px;
  border: 3px solid rgb(188, 234, 7);;
  border-radius: 8px;
  width: 50%;
  height: auto; 
}

.form{
    background-color: rgb(171, 205, 36);
   
    padding: 10px;
  
}


/* table section here */
.table{

   text-align: 25px;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-top: 5px;
}



 /* placeholderborder css */
.c1{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 8px;
    position: relative;
    left: 150px;
    margin-top: 2px;
}
.c2{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 150px;
    margin-top: 2px;
}
.c3{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 150px;
}
.c4{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 140px;
}
.c5{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 130px;
}

.c6{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 144px;
}
.c7{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 90px;
}
.c8{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 90px;
}
.c9{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 90px;
}
.c10{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 120px;
}
.c11{
    border: 2px solid white;
    border-radius: 3px;
    width: 50%;
    padding: 10px;
    position: relative;
    left: 120px;
}

.btn{
    margin-top: 10px;
    margin-left: 40%;
    width: 20%;
    border: 3px solid brown;
    border-radius: 40px;
    padding: 15px;
    background-color: brown;
    color: white;
    font-size: large;
}