 body{
    background-color: blueviolet;
    margin-top: 70px;
}

.col-md-3_my-prifile{
    margin-top: 50%;
    padding: auto;
}

.btn{
    background-color: blueviolet;
    color: white;
    margin-left: 45%;
}